.create-order-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.create-order-page .create-order-container {
    width: 565px;
    height: fit-content;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 30px;
}

.create-order-page .create-order-container .create-order-title {
    text-align: center;
    padding: 20px 0;
}

.create-order-page .create-order-container .create-order-content .create-order-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-order-page .create-order-container .create-order-content .create-order-form .create-order-form-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-order-page .create-order-container .create-order-content .create-order-form .create-order-form-content input {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #DCD9D9;
    background: #FFF;
}

.create-order-page .create-order-container .create-order-content .create-order-form .create-order-form-content label {
    font-weight: 600;
    line-height: 100%;
    font-style: normal;
    font-size: 16px;
    color: #4D4D4D;
}

.create-order-page .create-order-container .order-divider {
    width: 100%;
    height: 1px;
    background: #DCD9D9;
    margin: 30px 0px 0px 0px;
}

.create-order-page .create-order-container .create-order-total-price {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.create-order-page .create-order-container .create-order-total-price .total-price-title {
    font-size: 18px;
}

.create-order-page .create-order-container .create-order-total-price .total-price {
    font-size: 18px;
    font-weight: 600;
    color: #FF5858;
}

.create-order-page .create-order-container button {
    width: 100%;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #FA7C54;
    border: 1px solid #FA7C54;
    color: #FFF;
    font-weight: 600;
    line-height: 100%;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}


