.customer-registration-page {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F7;
    padding: 70px 0;
  }
  
  .customer-registration-page .wrapper {
    width: 565px;
    height:auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #fff;
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
  }
  
  .customer-registration-page .wrapper .logo-container {
    width: 100%;
    height: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .customer-registration-page .wrapper h1 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  
  .customer-registration-page .wrapper .logo {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
  }
  
  .customer-registration-page .wrapper .credentials {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  
  .customer-registration-page .wrapper .credentials .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }
  
  .customer-registration-page .wrapper .credentials .input-box label {
    font-weight: 600;
    line-height: 100%;
    font-style: normal;
    font-size: 16px;
    color: #4D4D4D;
    margin-bottom: 5px;
  }
  
  .customer-registration-page .wrapper .credentials .input-box input {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #DCD9D9;
    background: #FFF;
  }
  
  .customer-registration-page .wrapper .remember-forgot {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    width: 100%;
  }
  
  .customer-registration-page .wrapper .remember-forgot label {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #4D4D4D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  
  .customer-registration-page .wrapper .remember-forgot label input {
    color: #FA7C54;
    width:  16px;
    height: 16px;
  }
  
  .customer-registration-page .wrapper .remember-forgot a { 
    color: #4D4D4D;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-decoration-line: underline;
  }
  
  .customer-registration-page .wrapper button {
    width: 100%;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FA7C54;
    border: 1px solid #FA7C54;
    color: #FFF;
    font-weight: 600;
    line-height: 100%;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
  }
  
  .customer-registration-page .wrapper .login-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .customer-registration-page .wrapper .login-link p {
    color: #4D4D4D;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
  }
  
  .customer-registration-page .wrapper .login-link p a {
    color: #4D4D4D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    text-decoration-line: underline;
  }